<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zero.system.k3cloud.k3Material.mapper.K3BdMaterialcategoryMapper">
    
    <resultMap type="K3BdMaterialcategory" id="K3BdMaterialcategoryResult">
        <result property="id"               column="id" />
        <result property="fcateGoryid"      column="fcate_goryid" />
        <result property="fnumber"          column="fnumber" />
        <result property="fname"            column="fname" />
        <result property="fforbidStatus"    column="fforbid_status" />
        <result property="createBy"         column="create_by" />
        <result property="createTime"       column="create_time" />
        <result property="updateBy"         column="update_by" />
        <result property="updateTime"       column="update_time" />
        <result property="remark"           column="remark" />
    </resultMap>

    <sql id="selectK3BdMaterialcategoryVo">
        select id, fcate_goryid, fnumber, fname, fforbid_status, create_by, create_time, update_by, update_time, remark from k3_bd_materialcategory
    </sql>

    <select id="selectK3BdMaterialcategoryList" parameterType="K3BdMaterialcategory" resultMap="K3BdMaterialcategoryResult">
        <include refid="selectK3BdMaterialcategoryVo"/>
        <where>  
            <if test="fcateGoryid != null "> and fcate_goryid = #{fcateGoryid}</if>
            <if test="fnumber != null  and fnumber != ''"> and fnumber = #{fnumber}</if>
            <if test="fname != null  and fname != ''"> and fname like concat('%', #{fname}, '%')</if>
            <if test="fforbidStatus != null  and fforbidStatus != ''"> and fforbid_status = #{fforbidStatus}</if>
        </where>
    </select>
    
    <select id="selectK3BdMaterialcategoryById" parameterType="Long" resultMap="K3BdMaterialcategoryResult">
        <include refid="selectK3BdMaterialcategoryVo"/>
        where id = #{id}
    </select>

    <select id="selectK3BdMaterialcategoryByCgId" parameterType="Long" resultMap="K3BdMaterialcategoryResult">
        <include refid="selectK3BdMaterialcategoryVo"/>
        where fcate_goryid = #{fcateGoryid}
        GROUP BY fcate_goryid
    </select>

    <insert id="insertK3BdMaterialcategory" parameterType="K3BdMaterialcategory" useGeneratedKeys="true" keyProperty="id">
        insert into k3_bd_materialcategory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fcateGoryid != null">fcate_goryid,</if>
            <if test="fnumber != null">fnumber,</if>
            <if test="fname != null">fname,</if>
            <if test="fforbidStatus != null">fforbid_status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fcateGoryid != null">#{fcateGoryid},</if>
            <if test="fnumber != null">#{fnumber},</if>
            <if test="fname != null">#{fname},</if>
            <if test="fforbidStatus != null">#{fforbidStatus},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateK3BdMaterialcategory" parameterType="K3BdMaterialcategory">
        update k3_bd_materialcategory
        <trim prefix="SET" suffixOverrides=",">
            <if test="fcateGoryid != null">fcate_goryid = #{fcateGoryid},</if>
            <if test="fnumber != null">fnumber = #{fnumber},</if>
            <if test="fname != null">fname = #{fname},</if>
            <if test="fforbidStatus != null">fforbid_status = #{fforbidStatus},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteK3BdMaterialcategoryById" parameterType="Long">
        delete from k3_bd_materialcategory where id = #{id}
    </delete>

    <delete id="deleteK3BdMaterialcategoryByIds" parameterType="String">
        delete from k3_bd_materialcategory where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteK3BdMaterialcategoryAll">
        delete from k3_bd_materialcategory
    </delete>
</mapper>